


.card {
    height: 900px;
    max-height: 900px;

   
    max-width: 250px;
    min-width: 230px;*/
}

.img {
    height: auto;
    min-height: 300px;
    max-height: 300px;
    max-width: 250px;
    width: auto;
}

div.price {
    font-size: x-large;
}
