


.card {
    height: 650px;
    max-height: 900px;

   
    max-width: 250px;
    min-width: 230px;
}

.img {
    height: auto;
    min-height: 300px;
    max-height: 300px;
    max-width: 250px;
    width: auto;
}

div.price {
    position: absolute;
    width: 50%;
    bottom: 100px;
    font-size: x-large;
}
